* {
    list-style: none;
    margin: 0;
    padding: 0
}

video {
    width: 100%;
    height: 100%
}

body,
html {
    font-size: 14px;
    color: #898989;
}

a {
    text-decoration: none
}

a:hover {
    text-decoration: none
}

.container {
    width: 950px
}

.modal-dialog {
    width: 70%;
    overflow: hidden
}

.modal-dialog .modal-body {
    overflow: hidden
}

.breadcrumb {
    background-color: transparent;
    margin-top: 20px;
    margin-bottom: 3em;
    padding: 0;
    font-size: 12px;
    color: #999
}

.breadcrumb .active {
    color: #999
}

.breadcrumb a {
    color: #999
}

header {
    position: absolute;
    z-index: 500;
    width: 100%
}

header.theme-dark .header nav {
    color: #666
}

header.theme-dark .header nav a {
    color: #666
}

header.theme-dark-white .header nav {
    color: #fff
}

header.theme-dark-white .header nav a {
    color: #fff
}

header.theme-bright .header nav {
    color: #fff
}

header.theme-bright .header nav a {
    color: #fff
}

header.mouseon .header nav {
    color: #666!important
}

header.mouseon .header nav a {
    color: #666!important
}

header .logo {
    margin-left: 2em;
    margin-top: 2.5em;
    position: relative;
    top: 0;
    z-index: 5
}

header .header {
    width: 75%;
    position: relative;
    top: 0;
    z-index: 5
}

header .header nav {
    height: 5em
}

header .header nav ul li {
    width: 9%;
    height: 5em;
    display: inline-block;
    text-align: center;
}

header .header nav ul li a {
    display: inline-block;
    margin-top: 2.25em;
    height: 2.75em;
    text-decoration: none
}

header .header nav ul li:hover {
    color: #0d396c
}

header .header nav ul li:hover a {
    color: #0d396c
}

header .header nav ul li.double-q {
    width: 8em
}

header .header nav ul li.zoom {
    width: 2em
}

header .docker-container {
    width: 100%;
    position: absolute;
    min-height: 5em;
    top: 0;
    z-index: 2;
    background-color: #fff;
    -moz-opacity: .9;
    opacity: .9;
    display: none
}

header .docker-container .docker-content {
    margin-top: 5em;
    background-color: #f2f2f2
}

.docker-container-width {
    width: 70%;
    text-align: left
}

.docker-container-width h5 {
    color: #1a355e;
    font-size: 1em;
    border-right: 1px dashed #8f8f8f
}

.docker-container-width a {
    color: #666
}

.docker-container-product,
.docker-container-selection,
.docker-container-support {
    display: none;
    padding: 1em 0
}

.docker-container-product li,
.docker-container-selection li,
.docker-container-support li {
    line-height: 2em
}

.docker-container-selection {
    width: 62%;
    margin-left: 20px
}

.docker-container-selection a {
    height: 2em;
    line-height: 2em
}

.docker-container-selection a:hover {
    color: #1a355e
}

.docker-container-selection a span:first-child {
    width: 28px;
    height: 28px;
    background: url(../images/lsz/bg-nav-selection.png) no-repeat 0 -28px;
    display: inline-block
}

.docker-container-selection a span:nth-child(2) {
    margin-left: .5em
}

.docker-container-selection a.doubleq:hover span:first-child {
    background-position: 0 0
}

.docker-container-selection a.cabinet span:first-child {
    background-position: -28px -28px
}

.docker-container-selection a.cabinet:hover span:first-child {
    background-position: -28px 0
}

.docker-container-product {
    width: 90%
}

.docker-container-product li ul li a:hover {
    color: #1a355e
}

.docker-container-support {
    width: 62%;
    margin-left: 180px
}

.docker-container-support a {
    height: 2em;
    line-height: 2em
}

.docker-container-support a:hover {
    color: #1a355e
}

.docker-container-support a span:first-child {
    width: 28px;
    height: 28px;
    background: url(../images/lsz/bg-nav-tas.png) no-repeat 0 -28px;
    display: inline-block
}

.docker-container-support a span:nth-child(2) {
    margin-left: .5em
}

@media (min-width:2048px) {
    header {
        width: 1920px;
        margin: 0 auto;
        left: 0;
        right: 0
    }
}

.site-assistant {
    width: 77px;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1000
}

.site-assistant .assistant-switch {
    position: relative;
    top: 0;
    left: 0;
    display: block;
    width: 77px;
    height: 78px;
    z-index: 1
}

.site-assistant ul {
    position: absolute;
    left: 0;
    top: 80px;
    width: 100%;
    z-index: 5;
    display: none;
    background: rgba(255, 255, 255, .8)
}

.site-assistant ul li {
    font-size: .5em;
    text-align: center;
    padding: 1em .5em;
    position: relative
}

.site-assistant ul li a {
    display: block;
    border-bottom: 1px dashed #647b99;
    text-decoration: none;
    padding-bottom: .5em;
    color: #000;
    position: relative;
    z-index: 1
}

.site-assistant ul li a img {
    margin-bottom: .8em
}

.site-assistant ul li:last-child a {
    border-bottom-style: none
}

.site-assistant ul li .assistant-banner-pop {
    position: absolute;
    right: 80px;
    top: 0;
    width: 202px;
    text-align: left;
    display: none;
    z-index: 2
}

.site-assistant ul li .assistant-banner-pop a {
    display: block;
    width: 200px;
    padding: 0;
    border-style: none;
    overflow: hidden;
    line-height: 0
}

.site-assistant ul li .assistant-banner-pop a img {
    float: left;
    display: block;
    margin: 0
}

.site-assistant ul li .assistant-banner-pop a:nth-child(n+2) {
    margin-top: 3px
}

.site-assistant ul li .assistant-wechat-pop {
    position: absolute;
    right: 80px;
    top: -5px;
    width: 77px;
    z-index: 2;
    display: none;
    -moz-opacity: 1;
    opacity: 1
}

.site-assistant ul li .assistant-wechat-pop a {
    float: left;
    width: 77px;
    padding: 0;
    border-style: none;
    overflow: hidden;
    line-height: 5px;
    vertical-align: middle;
    margin-bottom: .5em
}

.site-assistant ul li .assistant-wechat-pop a img {
    float: left;
    display: block
}